<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reddit Data Visualizer</title>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- D3 Topic Model CSS -->
    <link rel="stylesheet" href="../static/css/topicModel.css">

    <!-- Style for NavBar and page padding. -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 70px;
          padding-left: 30px;
          padding-right: 30px;
          width: 100%;
        }
      }
    </style>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #CEE3F7;">
       <div class="container">
         <a class="navbar-brand" href="#">Reddit Data Visualizer</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
           <ul class="navbar-nav ml-auto">
             <li class="nav-item active">
               <a class="nav-link" href="#">Home
                 <span class="sr-only">(current)</span>
               </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">NavItem</a>
             </li>
           </ul>
         </div>
       </div>
   </nav>

  <div class="container-fluid">
  	<div class="row">
  		<div class="col-md-3">
  			<h1>
  				See
  			</h1>
  		</div>
  		<div class="col-md-3">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
  		</div>
  		<div class="col-md-3">
        <h1>
  				On
  			</h1>
  		</div>
  		<div class="col-md-3">
        <h1>
          Date
        </h1>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-2">
        <p>Top Posts Listed Here</p>
        {% for post in top_posts %}
          <p>{{ post.title }}</p>
        {% endfor %}
  		</div>
  		<div class="col-md-8">
        <div id="topicModel"></div>
        <script src="../static/js/topicModel.js"></script>
        <script>
        var topics = {{ topic_model_data|tojson }};
        console.log(topics);
        drawBubbles(topics);
        </script>
  		</div>
  		<div class="col-md-2">
        <p>Controversial Posts Listed Here</p>
        {% for post in controversial_posts %}
          <p>{{ post.title }}</p>
        {% endfor %}
  		</div>
  	</div>
  </div>
  </body>
</html>
